.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: $font-size-default;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  transition: transform 0.3s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8),
      rgba($color-tertiary, 0.8)
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1rem 5rem rgba($color-black, 0.15);
  }

  &__text {
    font-size: $font-size-default;
  }
}
